@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 158 84% 4.9%;
    --foreground: 150 40% 98%;
    --card: 158 84% 4.9%;
    --card-foreground: 150 40% 98%;
    --popover: 158 84% 4.9%;
    --popover-foreground: 150 40% 98%;
    --primary: 142 91.2% 59.8%;
    --primary-foreground: 158 47.4% 11.2%;
    --secondary: 142 32.6% 17.5%;
    --secondary-foreground: 150 40% 98%;
    --muted: 142 32.6% 17.5%;
    --muted-foreground: 145 20.2% 65.1%;
    --accent: 142 32.6% 17.5%;
    --accent-foreground: 150 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 150 40% 98%;
    --border: 142 32.6% 17.5%;
    --input: 142 32.6% 17.5%;
    --ring: 142 76.3% 48%;
    --radius: 0.75rem;
  }
}

@layer base {
  body {
    @apply bg-gradient-to-b from-[#0F3724] to-[#2E814D] min-h-screen text-foreground antialiased;
  }

  input, textarea {
    @apply bg-secondary/50 border-muted focus:border-primary transition-colors duration-200;
  }
}